.header {
    &__informations--fix {
        position: relative;
        width: 100%;
        z-index: -1;
    }
    &__informations .image {
        width: 100%;
        height: 18rem;
    }
}

.menus {
    &__heading {
        display: flex;
        justify-content: space-between;
        & h1 {
            justify-content: flex-start;
        }
    }
    &__grid {
        margin-top: 3rem;
        &__heading {
            & p {
                @include border-decoration;
            }
        }
        &__card {
            position: relative;
            overflow: hidden;
            & span {
                @include check-slide-droit;
            }
            &:hover>span {
                transform: translateX(0%);
            }
            &:hover>span::after {
                transform: rotate(400deg);
            }
            &:hover>.informations {
                width: 80%;
            }
        }
        &__prix {
            width: 100%;
            display: flex;
            white-space: nowrap;
            justify-content: space-between;
            align-items: center;
            & p {
                overflow: hidden;
                text-overflow: ellipsis;
                font-size: .8em;
                padding: .5rem 0;
            }
        }
    }
}