$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-heading: #eaeaea;
$color-text-heading: rgba(0, 0, 0, .8);
$color-header_secondary: #f6f6f6;
$color-footer: #2b2a2a;
$border-radius: 1rem;