.container__btn {
    display: flex;
    justify-content: center;
    padding: 2rem 0;
}

.box {
    padding: 2rem 1.5rem;
    &--colored {
        background-color: $color-header_secondary;
        position: relative;
        top: -4rem;
        border-radius: 2rem 2rem 0 0;
    }
}

.mb-1 {
    margin-bottom: 1rem;
}

.informations {
    white-space: nowrap;
    width: 100%;
    transition: width .4s ease-in-out;
    & h3 {
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.card {
    border-radius: $border-radius;
    background-color: white;
    display: flex;
    align-items: center;
    transition: background-color .1.7s ease-in-out;
    @include shadow-primary;
    &:hover {
        background-color: lighten($color-primary, 35%);
    }
    &__image {
        width: 100%;
        height: 10rem;
        & img {
            border-radius: 1rem 1rem 0 0;
        }
    }
    &__informations {
        width: 100%;
        height: 5rem;
        padding: 1rem 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        & p {
            margin: .5rem 0;
        }
    }
    &--colored {
        background-color: $color-header_secondary;
        padding: 2rem;
        &:hover i {
            color: $color-primary;
        }
    }
    &--white {
        padding: 1rem;
        align-items: flex-start;
    }
    &--simple {
        width: 100%;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        height: 15rem;
        padding: 0%;
        margin-bottom: 1em;
        &:hover {
            background-color: white;
        }
        @include desktop-only {
            width: 22rem;
        }
        @include tablette-only (991px) {
            width: 28rem;
            margin-bottom: 2rem;
        }
        @include tablette-only(950px) {
            width: 27rem;
        }
        @include tablette-only(920px) {
            width: 26rem;
        }
        @include tablette-only(888px) {
            width: 25rem;
        }
        @include tablette-only(860px) {
            width: 23rem;
        }
        @include tablette-only(800px) {
            width: 21.8rem;
        }
        @include tablette-only(750px) {
            width: 20rem;
        }
        @include tablette-only(692px) {
            width: 18rem;
        }
        @include tablette-only(650px) {
            width: 17rem;
        }
    }
}